.card-body {
  transition: all 0.5s;
}
.card-body:hover {
  /* cursor: pointer; */
  transform: scale(1.05);
}
.card1-body {
  transition: all 0.5s;
}
.card1-body:hover {
  /* cursor: pointer; */
  cursor: pointer;
  transform: scale(1.05);
}
